h1, h4 {
    text-align: center;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: Medium;
  
}

#login-container{
  margin: 0 auto;
  width: 500px;
  text-align: center;
  padding: 300px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
   
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ed5f0e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  
}

button[type="submit"]:hover {
    background-color: #da0a0a; /
}


.fa-search {
  font-size: 20px;
  color: #000000; 
  text-decoration: none; 
}

.fa-search:hover {
  color: #dc5319; 
}


* {
  font-family: "TEKO", "sans-serif";
}