body {
    margin: 0;
    padding: 10px 0;
  }
  button[type="submit"]{
    background-color: #ed5f0e;
    color: white;
}
#returnForm{
    height:50%;
    width:30%;
    margin: 0 auto;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5%;
    box-shadow: 0 5px 5px #ed5f0e ;
    margin-top: 8%;
    text-align: center;
    
}
#returnForm button{
    display: flex;
    margin: 0 auto;
    margin-top: 3%;
}
h1{
    text-align: center;
    margin-top: 3%;
}
@media (max-width: 768px) {
    #returnForm {
       width: 70%;
    }
}

@media (max-width: 480px) {
    #returnForm {
        width: 50%;

    }

}
