       /* styles.css */
       body {
        
        margin: 0;
        padding:10px 0;
       
        
    }
    
    .book-details {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        margin: 2.5%  auto;
        background-color: #dee6e3;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5%;
        
        align-items: center;
        margin-bottom: 4%;
        height: fit-content;
       

    }
    
    .book-cover {
        flex: 1 1 200px;
        max-width: 200px;
        margin-right: 20px;
    }
    
    .book-cover img {
        width: 100%;
        height: auto;
    }
    
    .book-info, .book-meta {
        flex: 1 1 250px;
        margin-bottom: 20px;
    }
    
    .book-info {
        margin-right: 20px;
    }
    
    .book-title {
        font-size: 24px;
        margin: 0 0 10px;
    }
    
    .book-author, .book-category, .book-publisher {
        margin: 0 0 5px;
    }
    
    .book-meta {
        font-size: 14px;
        color: #555;
    }
    
    .book-meta p {
        margin: 0 0 5px;
    }
    
    .book-description {
        flex: 1 1 100%;
        margin-top: 20px;
        
    }
    
    .description p {
        margin: 0;
        font-size:15px;
        font-family: "Kanit", sans-serif;
        font-weight: 500;
        font-style: normal;
    }
    button[type="submit"]{
        background-color: #ed5f0e;
        color: white;
    }
    
.button-container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-container button[type="submit"]#b{
    margin-left: 650%;
    width: 130%;
  margin-top: 12%;
  
}
.button-container button[type="submit"]#e{
    margin-left: 450%;
    width: 130%;
    margin-top: 10%;    
}